USE [master]
GO
/****** Object:  Database [project]    Script Date: 12/8/2015 8:41:51 PM ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Users\HP\project.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Users\HP\project_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/8/2015 8:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blood]    Script Date: 12/8/2015 8:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blood](
	[BloodId] [int] IDENTITY(1,1) NOT NULL,
	[Donor_Id] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BloodBank]    Script Date: 12/8/2015 8:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodBank](
	[BranchId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [bigint] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Donor]    Script Date: 12/8/2015 8:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donor](
	[Donor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Donor_Name] [nvarchar](50) NOT NULL,
	[Donor_Age] [int] NOT NULL,
	[Donor_BloodGroup] [nvarchar](50) NOT NULL,
	[Donor_Gender] [nvarchar](50) NOT NULL,
	[Donor_Phone] [bigint] NOT NULL,
	[Donor_Address] [nvarchar](max) NOT NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Donor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 12/8/2015 8:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_Name] [nvarchar](50) NOT NULL,
	[Patient_Age] [int] NOT NULL,
	[Patient_Gender] [nvarchar](50) NOT NULL,
	[Patient_BloodGroup] [nvarchar](50) NOT NULL,
	[Patient_Phone] [bigint] NOT NULL,
	[Patient_Address] [nvarchar](max) NOT NULL,
	[Requested_Date] [datetime] NOT NULL,
	[Patient_Disease] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Blood]  WITH CHECK ADD  CONSTRAINT [FK_Blood_ToTable] FOREIGN KEY([Donor_Id])
REFERENCES [dbo].[Donor] ([Donor_Id])
GO
ALTER TABLE [dbo].[Blood] CHECK CONSTRAINT [FK_Blood_ToTable]
GO
ALTER TABLE [dbo].[Blood]  WITH CHECK ADD  CONSTRAINT [FK_Blood_ToTable_1] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BloodBank] ([BranchId])
GO
ALTER TABLE [dbo].[Blood] CHECK CONSTRAINT [FK_Blood_ToTable_1]
GO
USE [master]
GO
